# Firebase
.firebase
*.log

# Dependencies
/node_modules
/functions/node_modules

# Build output
/dist
/.next/
/out/
/build

# Local Environment Variables
.env
.env.local
.env.*.local
functions/.env

# IDE config
.idea
.vscode/

# OS files
.DS_Store
Thumbs.db

# Tunnel URL
.frontend_tunnel_url
